body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: url("https://live.staticflickr.com/144/350340572_a6230b1bee_b.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: right;
  padding: 30px;
  height: 10vh;
}

.page-title {
  color: #000000;
  font-size: 50px;
  margin: 0 0 100px;
}

.page-subtitle {
  color: #000000;
  margin-top: 16px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 90px;
  position: absolute;
  top: 20px;
  right: 820px;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

input {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

.resultado {
  color: #000000;
  text-align: right;
  font-size: 20px;
  margin-top: 16px;
}
